#textdomain wesnoth-AOI_Rework

[scenario]
    id=02_Chapel_of_the_Red_Moon
    name= _ "Chapel of the Red Moon"

    map_file=02_Chapel_of_the_Red_Moon.map
    next_scenario=03_Heights_of_Laments

    {DEFAULT_SCHEDULE}

    # might replace with custom music
    {DEFAULT_MUSIC_PLAYLIST}

    # story text
    {STORY_TEXT_SCENARIO_02}
[/scenario]