#textdomain wesnoth-AOI_Rework

#define AOIRW_BIGMAP
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/aoi.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define AOIRW_TRACK STAGE
    [story]
        [part]
            show_title=yes
            {AOIRW_BIGMAP}
            {STAGE}
        [/part]
    [/story]
#enddef

#define JOURNEY_00
    {NEW_REST  630 720}
#enddef

#define JOURNEY_01
    {OLD_REST 630 720}
    {NEW_JOURNEY 590 720}
    {NEW_JOURNEY 550 695}
    {NEW_JOURNEY 520 675}
    {NEW_BATTLE 480 650}
#enddef

#define JOURNEY_02
    {OLD_REST 630 720}
    {OLD_JOURNEY 590 720}
    {OLD_JOURNEY 550 695}
    {OLD_JOURNEY 520 675}
    {OLD_BATTLE 480 650}
    {NEW_JOURNEY 478 625}
    {NEW_JOURNEY 475 600}
    {NEW_BATTLE 470 585}
#enddef

#define JOURNEY_03
    {OLD_REST 630 720}
    {OLD_JOURNEY 590 720}
    {OLD_JOURNEY 550 695}
    {OLD_JOURNEY 520 675}
    {OLD_BATTLE 480 650}
    {OLD_JOURNEY 478 625}
    {OLD_JOURNEY 475 600}
    {OLD_BATTLE 470 585}
    {NEW_JOURNEY 460 570}
    {NEW_JOURNEY 445 550}
    {NEW_JOURNEY 430 530}
    {NEW_BATTLE 415 510}
#enddef

#define JOURNEY_03X
    {OLD_REST 630 720}
    {OLD_JOURNEY 590 720}
    {OLD_JOURNEY 550 695}
    {OLD_JOURNEY 520 675}
    {OLD_BATTLE 480 650}
    {OLD_JOURNEY 478 625}
    {OLD_JOURNEY 475 600}
    {OLD_BATTLE 470 585}
    {OLD_JOURNEY 460 570}
    {OLD_JOURNEY 445 550}
    {OLD_JOURNEY 430 530}
    {OLD_BATTLE 415 510}
    {NEW_REST 395 510}
#enddef

#define JOURNEY_04
    {OLD_REST 630 720}
    {OLD_JOURNEY 590 720}
    {OLD_JOURNEY 550 695}
    {OLD_JOURNEY 520 675}
    {OLD_BATTLE 480 650}
    {OLD_JOURNEY 478 625}
    {OLD_JOURNEY 475 600}
    {OLD_BATTLE 470 585}
    {OLD_JOURNEY 460 570}
    {OLD_JOURNEY 445 550}
    {OLD_JOURNEY 430 530}
    {OLD_BATTLE 415 510}
    {OLD_REST 395 510}
    {NEW_BATTLE 380 515}
#enddef