#textdomain wesnoth-AOI_Rework

#define STORY_INTRO_PART MUSIC STORY_TXT
    [part]
        music={MUSIC}
        background=story.jpg
        story={STORY_TXT}
    [/part]
#enddef

#define STORY_PART STORY_TXT
    [part]
        background=story.jpg
        story={STORY_TXT}
    [/part]
#enddef

#define STORY_TEXT_PROLOGUE
    [story]
        {STORY_INTRO_PART (elvish-theme.ogg) (_"Immortal woods of Wesmere, vast expanses of enormous lands covered with dense forest, to which only the elves had access for a long time.")}

        {STORY_PART (_"Founded in ancient times by a mysterious elf named Wesmere, they were to be the home of many, and in the first centuries of their existence were ruled by the founder's dynasty.")}

        {STORY_PART (_"One old day, the date of which is the times of the late twilight of the power of the elves, the four Lords of the provinces ruled and joined under the scepter of the rightful king of these lands entered the heart of the forest overthrowing and seizing power from the last of the Wesmere dynasty, who, exiled, would never return judged and condemned for tyranny and despotism witch supposedly destroyed the greatness of the ancient race.")}

        {STORY_PART (_"Years passed from that forgotten day, and the self-proclaimed group of Lords who exercised the so-called guardianship kept all the lands belonging to the kingdom and its fiefdoms in perpetual check.")}

        {STORY_PART (_"To this day, it is not known why the rebellion arose and why it was successful, but the power of the legitimate kings ended, and at joint meetings of protectors known as Ka'lian, four elfs elected sat down to decide matters of the highest importance in their own sacrifice, but the ancient dynasty did not yet expired and the changes were getting ready ...")}

        {STORY_PART (_"The young elf, who was the son of one of the protectors of the kin and a member of the elven council, chosen by the voice of the subjects, and the ancient lord of the forests himself, carried the muffled spark of change, preparing his race for the new times.")}

        {STORY_PART (_"Most often not listened to and not taken seriously, when he referred to his roots, This elf had a childhood friend whose name was Sunllis. She was the daughter of the old oracle of the elves, who was supposed to defend the right during the moment of expelling and taking away the title of Lord from Erlornas father a true heir, but accused of heresy and spreading lies, her title and name were taken away, and she was told to leave so that she would never return.")}

        {STORY_PART (_"Bound from their birth by the ties of the past and great friendship, when in later years they crossed their paths, they began to dream about certain things, see visions showing them a beautiful and promising future, and finally, thanks to the rebellious nature of Erlornas, they began to carefully incite the elves to great changes.")}

        {STORY_PART (_"With time, they also began to be joined by those whose stories were similar, and the grief in the heart caused by the Lords decisions was enough to want it.")}

        {STORY_PART (_"Finally, after many years of planning, spying, and gaining valuable information about they cunning and insidious opponents, the confident heir to the throne has risen to his rightful place ...")}
    [/story]
#enddef

#define STORY_TEXT_SCENARIO_01
    [story]
        {STORY_INTRO_PART (elvish-theme.ogg) (_ "Feeling the weight of his burden, Erlornas, after leaving the palace, joined with his companions of misery.")}

        {STORY_PART ( _ "Nobody was bloody hurt after these events, but Erlornas saw signs of beating on the faces of some of them. Even when he was walking at the side of Sunllis accidentally saw a fresh bruise on her shoulder, which after a while, as soon as she noticed her friend's eye, quickly covered it with a nervous face. She had no intention of worrying and deceiving the elven heir out of the way, but she was no longer able to hide it like the others.")}

        {STORY_PART ( _ "Erlornas felt the pain walking by their side, being what he gave them these blows by moving on by impulse and the moment which he sincerely regretted, he could not accept it.")}

        {STORY_PART ( _ "When, together with his squad made of twelve friends that joined him in a difficult time of life, he told in the unfortunate clearing the conditions of their freedom as well as the task and duty they must fulfill in order to be able to return to their former life. Everyone fell silent.")}

        {STORY_PART ( _ "The young prince, who as an ordinary, and even poverty and rejection, suffering from his youth, thought that it was because of him that he condemned his companions to ruin, because he would take everyone to the grave by speaking for all of them.")}

        {STORY_PART ( _ "However, it was not so, because those who stood on his side knew very well that they did not want their old lives again and never even wanted to, and that serving and friendship with a real king was their salvation.")}

        {STORY_PART ( _ "Previously mentioned in the story Deros and Frileniell, the two brothers who never had a home and were thrown in the woods by their settlement, they wandered from their childhood, and those who gained shelter with Erlornas. Oghanes, the elven warrior, the eldest of the company, his wife died of an unknown disease, and because others feared the plague, she was sentenced to death without even trying to find a medicine.")}

        {STORY_PART ( _ "Alorne priestess who saved many lives and wanted to protect everyone. She tended carefully and the spirits of the forest summoned her, who rewarded her with healing power, for which she was thrown out of her teachings in the chapel as she was possessed with evil. Nemea, gifted in magic, never had parents, she had trod the hard path all her life, she was to be taken to the army, but she never wanted to take part in the fight, she supported Erlornas ideals of peace in the forests.")}

        {STORY_PART ( _ "Yilde and Edliy, the twin sisters that shared one soul, and whose happiness and pain were equal. They both became great hunters from birth, and their tracking skills became legendary.")}

        {STORY_PART ( _ "Asskeliol and Gleria, two trained riders who, together with their horses, moved quietly through the forests. They were called wind because when the news broke up, they could carry it day and night.")}

        {STORY_PART ( _ "Kalese, a master of the sword, who never escaped from combat, but was unable to fight without wounds inflicting the enemy, was caught by the palace guard, but by the former army general trained in fencing on serious combat, was second to none. The last Tailendos, which was accurate and with the eyes of a hawk, was able to launch a chasing and paralyzing arrow into the sky. He never had his master, and he was like a brother with his bow.")}

        {STORY_PART ( _ "They all formed one branch, which they had never called a name before, because as they believed only actions can give it and when they do what they always want, they will rest on the laurels as those who will find their real name.")}

        {STORY_PART ( _ "So far, they were only called rebels, partisans or nameless warriors who fight for justice and have left their home forever.")}

        {STORY_PART ( _ "At the end of the day they all parted and on the third sunrise, having to set themselves up in front of the city gate to set out on their mission, they went to settle unfinished business.")}

        {STORY_PART ( _ "At the end, Erlornas and Sunllis stayed while discussing the last details of the irretrievable expedition. They were not afraid of it, even though their end had already been written, and the destiny, once set, for changes is difficult to count, and only through strong will and renunciation of one's true ideals can it be changed.")}

        {STORY_PART ( _ "It took the day of the journey for the heir of Wesmere to find himself at the gates of his born city, where father and mother had already died under the linden trees, and still a few friendly souls were live.")}

        {STORY_PART ( _ "As soon as he entered the old yard of his house, which was strewn with golden dandelions, snow daisies and red poppies, he felt at peace. This place was given him a respite from time immemorial, suddenly he heard a friendly voice, and when he turned, he saw the face of his chosen one.")}

        {STORY_PART ( _ "His most precious treasure lived here and enjoyed her life. She was called his lady of the heart, and her name was Reilen. She had already heard the terrified news, it was possible to hear it over the entire vast lands covered with the first forest. The prince, who with his company, after an unsuccessful attack on a terrible fate, was condemned, and the riots among people began to be full, where fights between the elves in the face of the longed-for hope took place, but the truth was sad for those who abandoned their homes to support the bloodless revolution because the changes would not will follow.")}

        {STORY_PART ( _ "She fell into his arms in tears and did not want to forgive him that he was leaving and that he wanted to abandon her, but Erlornas only tenderly hugged her and shed his silver tears because he didn't want to leave and he never wanted to leave her alone forever. He loved her sincerely for many years and he never even thought to stop and only confirmed it by taking her in his arms and whispering sweet words that soon gave her relief.")}

        {STORY_PART ( _ "The fear of his fiancé and future wife was immense, and the fact that she carried their common offspring in her womb deepened it even more. Erlornas, the future father and lover, had his fate like as the water into which the stone was thrown, but he did not want to live with fear and decided to enjoy every possible moment with her, so that later, in the face of death, he could remember that his life was not only a failed fight, but also a great happiness, which he did not deny himself.")}

        {STORY_PART ( _ "")}
    [/story]
#enddef

#define STORY_TEXT_SCENARIO_02
#enddef

#define STORY_TEXT_SCENARIO_03
#enddef

#define STORY_TEXT_SCENARIO_04
#enddef

# I have used "34" as an indicator to show that this cutscene takes
# place between scenarios 3 and 4

#define STORY_TEXT_CUTSCENE_34
#enddef

#define STORY_TEXT_EPILOGUE
#enddef