#textdomain wesnoth-AOI_Rework
[textdomain]
    name="wesnoth-AOI_Rework"
    path="data/add-ons/AOI_Rework/translations"
[/textdomain]

# custom color for wesmere
[color_range]
    id=wesmere_green
    rgb=206027,FFFFFF,000000,00FF00
    name= _ "wesmere_green"
[/color_range]

# added on special request
[modification]
    id=AOI_RW_nightmare_mode
    name= _ "Nightmare Mode (AOI:RW)"
    type=hybrid
    description=_"Enables Nightmare Mode for An Orcish Incursion: Rework. Might also work with the classic An Orcish Incursion. This modification has been introduced for players who are not satisfied with the current difficulty of Challenge Mode and would prefer to make it even more challenging than it currently is."
    # no clue why this param fails in MP
    # allow_scenario=00_Prologue,01_Valley_of_Four_Springs,02_Chapel_of_the_Red_Moon,03_Heights_of_Laments,03x_Last_Tears,04_Last_March,04x_Epilogue
    # why is there no allow_campaign= key?
    require_modification=yes

    # No more Elvish Sylph
    [modify_unit_type]
        type="Elvish Enchantress"
        remove_advancement="Elvish Sylph"
        set_experience=150
    [/modify_unit_type]
    # No more Elvish Shyde
    [modify_unit_type]
        type="Elvish Druid"
        remove_advancement="Elvish Shyde"
        set_experience=100
    [/modify_unit_type]
    # No more Elvish Avatar
    [modify_unit_type]
        type="Elvish Mystic"
        remove_advancement="Elvish Avatar"
        set_experience=150
    [/modify_unit_type]
    # No more Elvish Sharpshooter
    [modify_unit_type]
        type="Elvish Marksman"
        remove_advancement="Elvish Sharpshooter"
        set_experience=100
    [/modify_unit_type]
    # No more Elvish Avenger
    [modify_unit_type]
        type="Elvish Ranger"
        remove_advancement="Elvish Avenger"
        set_experience=100
    [/modify_unit_type]
    # No more Elvish Prowler
    [modify_unit_type]
        type="Elvish Trapper"
        remove_advancement="Elvish Prowler"
        set_experience=100
    [/modify_unit_type]
    # No more Elvish Outrider
    [modify_unit_type]
        type="Elvish Rider"
        remove_advancement="Elvish Outrider"
        set_experience=100
    [/modify_unit_type]
[/modification]

# wmlscope: set export=no
[campaign]
    id=An_Orcish_Incursion_Rework
    # maybe make custom campaign icon?
    icon="units/elves-wood/high-lord.png~RC(magenta>darkred)"
    # needs a custom image maybe?
    # image="data/add-ons/AOI_Rework/images/campaign_image.png"
    name= _ "An Orcish Incursion" + _"
(The Rework)"
    abbrev= _ "AOIRW"
    # dead last in list
    rank=715
    start_year="8 YW"
    end_year="9 YW"
    
    type=hybrid

    min_players=2
    max_players=2
    allow_era_choice=no

    first_scenario=00_Prologue

    define="CAMPAIGN_AN_ORCISH_INCURSION_REWORK"
    description=_ "<i>Being a drop of rain among few in the vanishing distance, I was looking for a way that would lead me to the fallen happiness … But I failed … I left those who I love without a chance for a new beginning … For a chance on my return and being one with her … I failed but … I chose … I chose to stand along those who can't fight alone … I decided to be a sun beam … Small fading beam forming a spherical golden shell of hope … I chose to be the Sun of Hope.</i> - Erlornas, Commander of the Branch of the Sun"+ _"
(4 scenarios)"

    # Maybe just edit them out to have Story Mode and Challenge Difficulties
    # Story Mode - for the story loves and well...low-skilled players
    # Challenge Mode for people who want to suffer..a lot.
    {CAMPAIGN_DIFFICULTY EASY   "units/elves-wood/fighter.png~RC(magenta>red)" ( _ "Fighter") ( _ "Story Mode")}

    {CAMPAIGN_DIFFICULTY NIGHTMARE "units/elves-wood/high-lord.png~RC(magenta>red)" ( _ "High Lord") ( _ "Challenge Mode")}{DEFAULT_DIFFICULTY}

    # Geographical and historical assumptions (ESR):
    #
    # As originally written by Josh Parsons, this campaign was not set in
    # any particular time or place.  I changed it to a few years after the
    # arrival of orcs on the Great Continent, and pinned it to the
    # northern marches of Wesmere.  Erlornas and his troops were originally
    # professional guards, but I've changed them to a scratch force of
    # civilians raused by a local noble and gradually militarizing.  Thus,
    # this becomes a story of how elves learned the nature of orcs and how
    # to cope.

    [about]
        title= _ "Latest Revision and Redesign"
        [entry]
            name="Fable_Lake"
        [/entry]
        [entry]
            name="Tahsin Jahin Khalid (Lord-Knightmare)"
        [/entry]
    [/about]

    [about]
        title = _ "Original Campaign Design"
        [entry]
            name = "Josh Parsons"
        [/entry]
    [/about]
    [about]
        title = _ "Adaptation for mainline"
        [entry]
            name = "Eric S. Raymond"
        [/entry]
    [/about]
    [about]
        title = _ "Post 1.4 story and gameplay improvements"
        [entry]
            name = "Piotr Cychowski (cycholka)"
        [/entry]
    [/about]
    [about]
        title = _ "Artwork and Graphics Design"
        [entry]
            name="Bhoren"
            comment = "story art"
        [/entry]
        [entry]
            name="Kathrin Polikeit (Kitty)"
            comment = "portraits"
        [/entry]
    [/about]
    [about]
        title = _ "Editing, proofreading and gameplay testing"
        [entry]
            name = "Charlie Roselius (Jozrael)"
        [/entry]
        [entry]
            name = "Eric S. Raymond"
        [/entry]
        [entry]
            name = "vicza"
        [/entry]
    [/about]
    [about]
        title= _ "1.15.x Difficulty Adjustments"
        [entry]
            name="Eric Gallager (egallager)"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_AN_ORCISH_INCURSION_REWORK
{~add-ons/War_of_Legends/_main.cfg}
{LEGEND_CAMPAIGN}

[binary_path]
    path="data/add-ons/AOI_Rework"
[/binary_path]
{~add-ons/AOI_Rework/macros}
{~add-ons/AOI_Rework/scenarios}
[units]
    {~add-ons/AOI_Rework/units}
[/units]
#endif

# wmllint: directory spelling Erlornas