#textdomain wesnoth-AOI_Rework

#define ABILITY_INSPIRE_AOIRW
    # Canned definition of the Inspire ability to be included in an
    # [abilities] clause.
    [leadership]
        id=inspire_aoirw
        value="(25 * (level - other.level + 1))"
        cumulative=no
        name= _ "inspire"
        female_name= _ "female^inspire"
        description= _ "This unit can inspire own and allied units that are next to it, making them fight better. Adjacent own units of lower or equal level will deal 25% more damage plus 25% for each level they are below the inspiring unit."
        special_note=_"The presence of this unit inspires own and allied units next to it to deal more damage in combat, though this only applies to units of lower or equal level."
        affect_self=no
        # we want this to be shared
        # for both player sides
        affect_allies=yes
        [affect_adjacent]
            [filter]
                formula="level <= other.level"
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef