#textdomain wesnoth-AOI_Rework

# player party characters

# listed here
# Deros - Elvish Archer (male)
# Frileniell - Elvish Archer (male)
# Oghanes - Elvish Hero (male)
# Alornes - Elvish Shaman (female)
# Nemea - Elvish Shaman (female)
# Yilde - Elvish Hunter (female)
# Edliy - Elvish Hunter (female)
# Asskeliol - Elvish Scout (male)
# Gleria - Elvish Scout (female)
# Kalese - Elvish Hero (male)

#define CHARACTER_STATS_DEROS
    id="Deros"
    name=_"Deros"
    type=Elvish Archer
    profile="portraits/elves/deros.png"
    gender=male
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_INTELLIGENT}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_FRILENIELL
    id="Frileniell"
    name=_"Frileniell"
    type=Elvish Archer
    profile="portraits/elves/archer.png"
    gender=male
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_DEXTROUS}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define CHARACTER_STATS_ALORNE
    id="Alorne"
    name=_"Alorne"
    profile="portraits/elves/druid.png"
    type=Elvish Druid
    gender=female
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_INTELLIGENT}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_NEMEA
    id="Nemea"
    name=_"Nemea"
    profile="portraits/elves/lady.png"
    type=Elvish Shaman
    gender=female
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_RESILIENT}
        {TRAIT_DEXTROUS}
    [/modifications]
#enddef

#define CHARACTER_STATS_OGHANES
    id="Oghanes"
    name=_"Oghanes"
    type=Elvish Hero
    profile="portraits/elves/oghanes.png"
    gender=male
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_STRONG}
        {TRAIT_HARDY}
    [/modifications]
#enddef

#define CHARACTER_STATS_KALESE
    id="Kalese"
    name=_"Kalese"
    type=Elvish Hero
    profile="portraits/elves/kalese.png"
    gender=male
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_QUICK}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_YILDE
    id="Yilde"
    name=_"Yilde"
    type=Elvish Hunter
    profile="portraits/elves/elvish-hunter+female.png"
    gender=female
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_STRONG}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_EDLIY
    id="Edliy"
    name=_"Edliy"
    type=Elvish Hunter
    profile="portraits/elves/elvish-hunter+female.png"
    gender=female
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_RESILIENT}
        {TRAIT_INTELLIGENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_ASSKELIOL
    id="Asskeliol"
    name=_"Asskeliol"
    type=Elvish Scout
    profile="portraits/elves/asskeliol.png"
    gender=male
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_RESILIENT}
        {TRAIT_INTELLIGENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_GLERIA
    id="Gleria"
    name=_"Gleria"
    type=Elvish Scout
    # need better portrait for her
    profile="portraits/elves/elven-ranger.png"
    gender=female
    {IS_LOYAL}
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_DEXTROUS}
        [TRAIT_RESILIENT]
    [/modifications]
#enddef
