#textdomain wesnoth-AOI_Rework

#define KALIAN_GUARD X Y
    {GENERIC_UNIT 3 (Elvish Champion) {X} {Y}}
#enddef

#define SETUP_KALIAN_GUARDS
    {KALIAN_GUARD  8  7}
    {KALIAN_GUARD  8 23}
    {KALIAN_GUARD 32 19}
    {KALIAN_GUARD 34 10}
    {KALIAN_GUARD 24 24}
    {KALIAN_GUARD 20 24}
    {KALIAN_GUARD 22 24}
    {KALIAN_GUARD 13 24}
    {KALIAN_GUARD 16 23}
    {KALIAN_GUARD 12 23}
    {KALIAN_GUARD 10 20}
    {KALIAN_GUARD  8 18}
    {KALIAN_GUARD  8 17}
    {KALIAN_GUARD  7 14}
    {KALIAN_GUARD  8 12}
    {KALIAN_GUARD  9 11}
    {KALIAN_GUARD 12  7}
    {KALIAN_GUARD 14  7}
    {KALIAN_GUARD 15  7}
    {KALIAN_GUARD 21  8}
    {KALIAN_GUARD 22  8}
    {KALIAN_GUARD 24  8}
    {KALIAN_GUARD 28  8}
    {KALIAN_GUARD 29 10}
    {KALIAN_GUARD 30 10}
    {KALIAN_GUARD 32 13}
    {KALIAN_GUARD 31 16}
    {KALIAN_GUARD 30 16}
    {KALIAN_GUARD 29 20}
    {KALIAN_GUARD 27 20}
#enddef

#define SETUP_KALIAN_COUNCIL
    [unit]
        side=3
        {CHARACTER_STATS_ARYAD}
        x,y=16,14
    [/unit]
    [unit]
        side=3
        {CHARACTER_STATS_DIONLI}
        x,y=19,17
    [/unit]
    [unit]
        side=3
        {CHARACTER_STATS_LOGALMIER}
        x,y=19,12
    [/unit]
    [unit]
        side=3
        {CHARACTER_STATS_ISOMITHIR}
        x,y=22,14
    [/unit]
#enddef

#define KALIAN_SUPPORTERS
"Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Captain,Elvish Lord,Elvish Ascetic,Elvish Druid,Elvish Sorceress"
#enddef

#define CUTSCENE_SCENE_01
    [event]
        name="start"

        {SIMPLE_MSG Erlornas ( _ "Take the swords in your right hands, but do not be afraid, comrades, because you will not see blood today, but only a modest presentation and the great change associated with it, because today we will restore the law of the past.")}

        {SIMPLE_MSG Sunllis ( _ "Are you sure we can make it? Whether a rebellion with such a handful can succeed? I myself sincerely doubt that all this rush is right.")}

        {SIMPLE_MSG Erlornas ( _ "Don't be afraid, along with the scouts, I spied day and night on the fort and the supposedly impregnable Ka'lian fortress. Truly powerful and full of holiness, it is a stronghold, but not righteous and mistaken in their pride elves deliberate there.")}

        {SIMPLE_MSG Sunllis ( _ "I don't know if everyone are well prepared, but I put my faith more in you than in my fears and I will repeat it again because I want to make sure before the rebellion that i have right that when the true heir is seated on the throne, the times of peace will come, and like the wind of the future, good blow to us, and the sorrow of mistakes will blur and hide in the shadow.")}

        {SIMPLE_MSG Erlornas ( _ "I have already told you this, Sunllis, I did not burn in my desires for great power, but only for the restoration of the righteousness of the governments that would serve our countrymen, and not only the great masters of huge provinces and strayers who took our hereditary lands.")}

        {SIMPLE_MSG Erlornas ( _ "People are not and will never be friendly to us, and in their hearts only darkness lurks and the deception of innocence wanted to creep into our hearts, it was a mistake to let them settle here, and now, after these eight years, these hateful creatures began to spread, just wait a little longer, and they will enter our borders and take our treasures by force.")}

        {SIMPLE_MSG Erlonas ( _ "I will not let them, even if it cost me my own sacrifice, that these hideous creatures would be a thorn to my people, and this whole king who has call himself Haldric, despite the foolish gift from all these Lords, picks up his nose, planning how expand his influence.")}

        {SIMPLE_MSG Sunllis ( _ "Humans, although they live much shorter, than us the elves, are able to outlive us by half with their plans, but not only they are a problem here, do you still remember stories about orcs and dark powers that were brought to our holy harbors eight years ago?")}

        {SIMPLE_MSG Erlonas ( _ "Orcs? They had long been crushed in the great battle of humans, it was they who had a duty to deal with them, and now these gloomy wild creatures serve only as fairy tales for naughty children.")}

        {SIMPLE_MSG Erlornas ( _ "... Anyway, it is not the time and we must act now, you can see a sign far away from our friends Deros and Frileniell that the way is clear.")}

        {SIMPLE_MSG Sunllis ( _ "Then it's time to go.")}

        {SIMPLE_MSG Erlornas ( _ "Follow me.")}

        {NARRATOR_MSG ( _ "They enter the meeting room of three of the four noble lords who let one of their greatest enemies settled into the continent eight years ago.")}

        # TODO Fade screen to black, teleport Erlornas and Sunlliss and maybe some others to the lords chamber and then fade in

        {SIMPLE_MSG Erlornas ( _ "So I see that another council has been started, what's this time, what are your plans? Maybe starting some war will suppress the unrest among the people, and a little conflict will add some faith in useless Lords?")}

        {SIMPLE_MSG Aryad ( _ "How dare you enter these chambers uninvited! Only the introduction here are those who are chosen by the people to exercise their power.")}

        {SIMPLE_MSG Erlornas ( _ "You do not decide about it, and I do not even dare to pronounce your name, for I will bring disgrace upon myself as you are smeared with it.")}

        {SIMPLE_MSG Aryad ( _ "You attack and insult by judging for some imaginary crimes! That's it, there is no place for you in these lands!")}

        {SIMPLE_MSG Erlornas ( _ "Imaginary? Do I have to remind everyone about how you won the victory in the North years ago?")}

        {SIMPLE_MSG Aryad ( _ "End of this!")}

        {SIMPLE_MSG Erlornas ( _ "It was late fall and the conflict erupted unexpectedly.")}

        {SIMPLE_MSG Erlornas ( _ "Rumors were spreading that on the borders there were dwarven bandits and robbers invading the country, and our brave Lord led his army to a small town called the Silver Boulder because valuable metal was mined there since time immemorial, but the army almost did not have and it required protection from others.")}

        # Todo maybe place a table image here?
        {SIMPLE_MSG Erlornas ( _ "The fight of the brave commander standing here lasted for a week, and the inhabitants once being our allies became fugitives, not enough good news, yet another conflict broke out, which was associated with further deaths! (He ended up hitting the table with his fist)")}

        {SIMPLE_MSG Aryad ( _ "Baseless slander, this story is well known and needs no explanation.")}

        {SIMPLE_MSG Erlornas ( _ "I know more such stories because I have followed your movements for a long time, and the wicked deeds you have done are visible to the nake0d eye.")}

        {SIMPLE_MSG Aryad ( _ "What are you going to do now? Make us leave the forests? Are you really incapable of comprehending your situation, heir of Wesmere?")}

        {SIMPLE_MSG Isomithir ( _ "You have never even presented a proof of your origin, and you have yourself made his son, and sometimes even a king.")}

        {SIMPLE_MSG Dionli ( _ "It is truly regrettable to desire so desperately for power that is not yours.")}

        {SIMPLE_MSG Erlornas ( _ "I have never wanted it, but you attract me to it, because if someone poisons my own country, it is my duty to get rid of the pest!")}

        {SIMPLE_MSG Isomithir ( _ "You really are starting to bore me Erlornas, you hid your envy towards us for a long time, when we removed your father from office and appointed a new Lord.")}

        {SIMPLE_MSG Erlonas ( _ "Don't you dare to even mention his name because it would be an insult to me! You who sent him to a distant province, when he wanted to start introducing new fair rules.")}

        {SIMPLE_MSG Isomithir ( _ "He was mad and he wanted to restore the royal rule by shouting about some heir who you were supposed to be, and to confirm his words he only had the predictions of some witch banished years ago for spreading lies about the world, so do not embarrass yourself because of your naivety, child, and we will give you a chance again to go away.")}

        {SIMPLE_MSG Aryad ( _ "No, this is taking too long, we have to deal finally with this revolutionary reprobate. And as you have already recalled the memory of the old hag who, before taking away her healthy name, Selite was called, see who we have here, the daughter and heir of her mother's madness. Perhaps you have something to say, my dear child. (Looks at Sunllis)")}

        {SIMPLE_MSG Sunllis ( _ "You are not worthy to hear anything from my lips, elf with reptilian gaze and dragon greed!")}

        {SIMPLE_MSG Sunllis ( _ "Erlornas, do what we have to do, and let's not look at these creatures even unworthy of my hatred.")}

        
    [/event]
#enddef