#textdomain wesnoth-AOI_Rework

#define PRISONER_TYPES
"Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Hunter,Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Ulfserker,Dwarvish Witness,Drake Burner,Drake Fighter,Drake Clasher,Drake Glider"
#enddef

#define WARDEN_TYPES
"Orcish Warrior,Orcish Crossbowman,Orcish Marauder,Orcish Slayer,Orcish Fireline,Orcish Foreman,Orcish Hunter,Saurian Spearthrower"
#enddef

#define WARDEN_HELPER_TYPES
"Orcish Grunt,Orcish Serf,Goblin Impaler,Goblin Rouser,Young Ogre,Saurian Ambusher"
#enddef

#define S03_EVENTS_SET
    # start
    [event]
        name="start"

        {SIMPLE_MSG Erlornas ( _ "Really grim and gloomy these are lands.")}

        {SIMPLE_MSG Sunllis ( _ "And to think that it used to be teeming with life and created a shelter for all living beings.")}

        {SIMPLE_MSG Erlornas ( _ "From the day of our march I only watch sadness, and beauty of goodness seem to have left this world a long time ago and only the ruin of the glory of the past is here now.")}

        {SIMPLE_MSG Sunllis ( _ "Each of us, on the inside, suffers from the enormity of the war, which is too heavy a burden for us, your companions fighting for freedom and peace from the very beginning.")}

        {SIMPLE_MSG Sunllis ( _ "They knew well what grief and destruction this expedition would bring upon us, they got rid of us wanting to reign calmly, but I cannot forgive myself that we set off so easily for our own death.")}

        {SIMPLE_MSG Erlornas ( _ "Death ...? (He grabs his head and the anxiety can be seen in his eyes)")}

        {SIMPLE_MSG Sunllis ( _ "I didn't want to ... But forgive me, I just can't, the very thought of looking into the eyes of the evil we will face fills me with a powerful, unstoppable fear.")}

        {SIMPLE_MSG Erlornas ( _ "You don't have to explain yourself to me, but I feel that something is still smoldering inside me, something that cannot give me peace to go to the other side, but there is no time for these nightmares ... It's really not the time, so I will hold back my tears for this day.")}

        {SIMPLE_MSG Sunllis ( _ "Don't be afraid, I and everyone around will be with you forever.")}

        {SIMPLE_MSG Erlornas ( _ "Maybe it is fear, but I am not sure myself, but ... Do you also see and hear the strike of the whip from a distance?")}

        {SIMPLE_MSG Sunllis ( _ "When you mention it, I can actually hear something from not so afar ...")}

        {SIMPLE_MSG Erlornas ( _ "Get ready, friends, probably more shadow servants are coming.")}
    [/event]

    # time over
    [event]
        name="time over"

        {SIMPLE_MSG Erlornas ( _ "Slaves completely lost their faith in victory seeing the marching enemy army, which, cutting them like young cerelal, gives no chance to stand up.")}

        {SIMPLE_MSG Sunllis ( _ "This is the end, because when the will to fight evil expires like a lost firefly in the darkness of the night, for those who need it most, there is no more chance nor hope.")}
    [/event]

    # boss stage setup
    [event]
        name="sighted"
        [filter]
            id=OrcLeader5
        [/filter]
        [filter_second]
            side=1
            [or]
                side=2
            [/or]
            [or]
                side=6
            [/or]
        [/filter_second]

        {SIMPLE_MSG Erlonas ( _ "Here it is! Surrender, monster, and let shorten your head to help at least a little cleanse the world you live in!")}

        [scroll_to_unit]
            id=OrcLeader5
            highlight=yes
            immediate=yes
        [/scroll_to_unit]

        # let players know they are in for a fight
        [print]
            text= _ "Enemy Boss Sighted!"
            size=30
            duration=5000
            # blood red text
            color=255,0,0
        [/print]

        {SIMPLE_MSG OrcLeader5 ( _ "These little tree maggots are trying to get close to me? You are no opponents for me. Across the seas, I have slaughtered white kings and slayed young princes, and given their guts to our pathetic cousins! Do you have the nerve to say you'll beat me!?")}

        {SIMPLE_MSG Sunllis ( _ "If you are unable to believe in your failure, you only show how disgusting you are. You should finally bear the ultimate cost of your crimes against the innocent ones, whom you have deprived of the light of day forever.")}

        {SIMPLE_MSG OrcLeader5 ( _ "A woman? The woman tells me what to do! Ha, ha, ha … Can you hear that? (There is a rejecting laugh around that sounds like little squeaky children)")}

        {SIMPLE_MSG Sunllis ( _ "And what are you laughing at, leader of the savage tormentors, who uses the moment of unconsciousness to invade other lands to plunder and destroy?")}

        {SIMPLE_MSG OrcLeader5 ( _ "I have never allowed a woman to order me, and whenever one tried, she ended up joining the ranks of corpses. Your pretty head will decorate my seat today!")}

        {SIMPLE_MSG OrcLeader5 ( _ "You, little stinks! The first to stab that steamy mouth will get their carcasses!")}

        {SIMPLE_MSG Erlornas ( _ "Are you running!? You have just insulted my friend and now you are going to escape? You wicked beast at least die with dignity!")}

        {SIMPLE_MSG OrcLeader5 ( _ "Do you consider me a coward? Understand something little long eared ugly. You are too weak to match me, to even cross your pretty sword with mine. I'd crush your fragile head with one hand. You call me wicked, and look at these little bastards of my brothers that are normally killed at birth! Just like those humans on this cursed island, you talk about these ideals but you are only a rabble that lets itself harm!")}

        {SIMPLE_MSG Sunllis ( _ "Lets? How can you … How are you even able to say those words so easily? You wretch!")}

        {SIMPLE_MSG Erlornas ( _ "Sunllis, it's a pity for your tears to mourn this impudent orc who should now only beg for forgiveness, but instead he is still trying to hurt those who made him realize who he really is. Just unnecessary cattle!")}

        # initiate boss mode
        [object]
            id=orc_high_warlord_buff
            silent=yes
            duration=scenario
            [filter]
                id="OrcLeader5"
            [/filter]
            # if you're reading this and you participated in slandering AOI
            # in that thread which lead to it being demainlined, know that
            # this was aimed for you. Now, I request you to suffer.
            [effect]
                apply_to=attack
                range=melee
                [set_specials]
                    # of course you would strike less damage in retaliation as you are 
                    # consumed by fear
                    #ifdef NIGHTMARE
                    {WEAPON_SPECIAL_BERSERK}
                    #endif
                    {WEAPON_SPECIAL_DREAD}
                    mode=replace
                [/set_specials]
            [/effect]
            [effect]
                apply_to=attack
                range=ranged
                [set_specials]
                    # Note: Just think of these as barbed and poison tipped arrows
                    {WEAPON_SPECIAL_POISON}
                    #ifdef NIGHTMARE
                    {WEAPON_SPECIAL_SLOW}
                    #endif
                    mode=replace
                [/set_specials]
            [/effect]
        [/object]
        # aggressive boss AI

        [micro_ai]
            side=3
            # hey, my custom bloodlust ai
            # will be perfect here
            ai_type=hunter
            action=add
            id=OrcLeader5
            [filter_location]
                x,y=20,50
                radius = 6
            [/filter_location]
            home_x,home_y=20,50
        [/micro_ai]

        # set up instant recruitment
        [repeat]
            times={DIFF 4 6}
            [do]
                {RANDOM_RECRUIT 3 {ORC_RECRUITMENT_LIST_ADVANCED} 20 50}
            [/do]
        [/repeat]

        # add micro ai for minions
        [micro_ai]
            side=3
            ai_type=zone_guardian
            action=add

            [filter]
                side=3
                canrecruit=no
            [/filter]
            [filter_location]
                x,y=20,50
                radius = 6
            [/filter_location]
        [/micro_ai]

        # also more
        {GENERIC_UNIT 5 "Orcish Foreman" 16 53}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 16 50}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 17 48}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 18 46}{GUARDIAN_PLUS_PLUS}
        
        {GENERIC_UNIT 5 "Orcish Foreman" 21 46}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 24 47}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 25 50}{GUARDIAN_PLUS_PLUS}
        {GENERIC_UNIT 5 "Orcish Foreman" 26 52}{GUARDIAN_PLUS_PLUS}

        {GENERIC_UNIT 5 "Orcish Foreman" 21 54}{GUARDIAN_PLUS_PLUS}
    [/event]

    # boss is attacked by Erlonas
    # i dont recommend this as the boss can wreck him easily
    [event]
        name="attack"
        id=erlornas_attack_orc_boss
        first_time_only=yes

        [filter]
            id="Erlornas"
        [/filter]
        [filter_second]
            id=OrcLeader5
        [/filter_second]

        {SIMPLE_MSG Erlornas ( _ "And what? Are you afraid? A sword against a sword will shatter in the heat of battle. Wrath against wrath will spill around like a river. Hatred against hatred will build peaks that will remain untouched!")}
    [/event]

    # boss attacks someone
    [event]
        name=attack
        id=orc_boss_attack_some_unit

        [filter]
            id=OrcLeader5
        [/filter]

        {SIMPLE_MSG OrcLeader5 ( _ "You really think you're gonna hurt me? You little puny thing? Ha, ha ... I will give you a gift that will go along with you to the dark lands! Die corpse!")}
    [/event]

    # boss kills someone
    [event]
        name="die"
        first_time_only=yes
        # this filter is here because
        # erlornas has dialogue here
        # implying it was not him who was slashed to death
        [filter]
            [not]
                id=Erlornas
            [/not]
        [/filter]
        [filter_second]
            id=OrcLeader5
        [/filter_second]

        {SIMPLE_MSG OrcLeader5 ( _ "And again nothing ... No fight, it's a pity, and I even started to have fun. They always do the same thing, talk about justice, about how bad I am, but the truth is, they're just weak. Trying to muddy my eyes with their sloppy talk, thinking they are better than me, but they will never beat me even when they make me realize everything I have done so far because I … I don't think it is bad!")}

        {SIMPLE_MSG Erlornas ( _ "You hideous beast! My tears want to flow by themselves. You will never return the life you just took, but I can take out yours before you take another breath!")}

        {SIMPLE_MSG OrcLeader5 ( _ "I want to see you try, but please do one thing - just try hard!")}
    [/event]

    # boss is slain
    [event]
        name="last breath"
        [filter]
            id=OrcLeader5
        [/filter]

        {SIMPLE_MSG OrcLeader5 ( _ "AGH! ... I, no ... No ...")}

        {SIMPLE_MSG Erlornas ( _ "Now it's finally time for you to go away and greet the dark reaper like an old friend from whom you've been running all your life.")}

        {SIMPLE_MSG OrcLeader5 ( _ "You … No … No! You will die, little worm, you filth without pride. I die, but I threw all of you like pebbles. I die, but I took out dozens of you. I am dying, but I will remain in your memory forever!")}

        {SIMPLE_MSG Erlonas ( _ "Know that I remember every assassin of my kin, and you know why? So that when I meet all of you on the other side, I can punish you again for what you have done. Again bring lost justice that I will carry even to the darkest lands, so that you will remember and mourn those you have hurt.")}

        {SIMPLE_MSG OrcLeader5 ( _ "You ... Monster ... You are doomed ... You will not survive this war ... Black ships already left the island of ash ...")}

        {SIMPLE_MSG Erlonas ( _ "So you will return there now to suffer the pain of your guilt as a forgotten soul.")}
    [/event]

    # village capture by side 1 and side 2, and also side 6
    [event]
        name=capture
        first_time_only=no
        [filter]
            side=1,2,6
        [/filter]
        [filter_condition]
            # do not trigger when moving back to an already claimed village
            [not]
                {VARIABLE_NUMERICAL_EQUALS owner_side 1}
                [or]
                    {VARIABLE_NUMERICAL_EQUALS owner_side 2}
                [/or]
                [or]
                    {VARIABLE_NUMERICAL_EQUALS owner_side 6}
                [/or]
            [/not]
        [/filter_condition]

        # we make 4 units
        # a warden, their lackey
        # and 2 prisoners
        {RANDOM_RECRUIT 4 {WARDEN_TYPES} $x1 $y1}
        {RANDOM_RECRUIT 5 {WARDEN_HELPER_TYPES} $x1 $y1}
        # two extras for challenge mode
        #ifdef NIGHTMARE
        {RANDOM_RECRUIT 5 {WARDEN_HELPER_TYPES} $x1 $y1}
        {RANDOM_RECRUIT 5 {WARDEN_HELPER_TYPES} $x1 $y1}
        #endif
        {RANDOM_RECRUIT 6 {PRISONER_TYPES} $x1 $y1}
        {RANDOM_RECRUIT 6 {PRISONER_TYPES} $x1 $y1}
    [/event]

    # first time capture dialogue
    [event]
        name=capture
        first_time_only=yes
        id=player_team_captures_a_village
        [filter]
            side=1,2,6
        [/filter]
        [filter_condition]
            # do not trigger when moving back to an already claimed village
            [not]
                {VARIABLE_NUMERICAL_EQUALS owner_side 1}
                [or]
                    {VARIABLE_NUMERICAL_EQUALS owner_side 2}
                [/or]
                [or]
                    {VARIABLE_NUMERICAL_EQUALS owner_side 6}
                [/or]
            [/not]
        [/filter_condition]

        {SIMPLE_MSG Erlonas ( _ "Rise again as a free being and become the master of your own destiny!")}

        {SIMPLE_MSG Sunllis ( _ "The darkness of this orc left them speechless and took their minds away, only cleansing with holy light can help them.")}

        {SIMPLE_MSG Erlonas ( _ "Let the glow of the rising sun be born in me, let the souls of these tortured creatures find their own will in the labyrinth of darkness!")}

        {SIMPLE_MSG Erlonas ( _ "Let the unclean evil go away and immortal light will soak into you giving a new meaning of old live!")}

        {SIMPLE_MSG Erlornas ( _ "Nightmares of the night and their allies have tried to take over you, but your inner faith in freedom is unshakeable!"))}

        {SIMPLE_MSG Erlonas ( _ "There will never be sunrise if you don't take my hand, come and accept my help!")}

        {SIMPLE_MSG Erlonas ( _ "Standing on the edge of the abyss, you have a choice to jump or turn back from the path of mistakes, and if you have not been able to see the road, now I am showing it to you within my light!")}
    [/event]

    # first mini boss confrontation
    [event]
        name=sighted
        [filter]
            id=OrcLeader6
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        {SIMPLE_MSG Sunllis ( _ "Are my eyes still wandering in the thick mist or is this creature woven alive with goodness before us?")}

        {SIMPLE_MSG Erlornas ( _ "It does not look good, do you see the gloomy face of this unfortunate being? They resembles more to corpse than living ones, and on their hands they have fetters of metal that is already rusting.")}

        {SIMPLE_MSG Sunllis ( _ "We must release them from these shackles quickly!")}

        {SIMPLE_MSG Erlonas ( _ "(He grabs her arm) Wait, someone is coming, better for now, in hiding wait and soon we'll find out what's going on here.")}

        # I have to change some speakers here and there
        # since the Orc5 is the boss orc and he is on the other side

        {SIMPLE_MSG OrcLeader6 ( _ "You larvae are not getting to work!?")}

        {SIMPLE_MSG OrcLeader6 ( _ "Does sleepiness overwhelm you today? Poor things, that means I have to help you! (Whip pulls out and hits the slave)")}

        {SIMPLE_MSG Sunllis ( _ "We can't let something like that happen!")}

        {SIMPLE_MSG Erlornas ( _ "You're right, it's time to go out and show this degenerate what it means to play with someone else's life!")}

        {SIMPLE_MSG Erlornas ( _ "Better let them go, or get ready to meet your masters in the other world! (His eyes flashed with light)")}

        {SIMPLE_MSG OrcLeader6 ( _ "Who are you? And what's here ... You gonna order me!?")}

        {SIMPLE_MSG Erlornas ( _ "If you only obey the order, I am able to engrave it for you with the whip of justice on your backs!")}

        {SIMPLE_MSG OrcLeader6 ( _ "I've already seen something like you for once ... What did they say to be called? (Scratches his head)")}

        {SIMPLE_MSG OrcLeader6 ( _ "Oh yes, elves ... Funny creatures full of fire to fight, but easy to break and scalp, not enough that they are weak and unwilling to work, they still scream like shrilly.")}

        {SIMPLE_MSG OrcLeader6 ( _ "So if I understand correctly I have this human garbage that offended me with his laziness to let go?")}

        {SIMPLE_MSG Erlonas ( _ "If it finally gets to you, maybe I will let you leave these lands for eternal exile.")}

        {SIMPLE_MSG OrcLeader6 ( _ "Your proposal, frail little elf, did not suit me and I think I prefer you in chains! (He kills a slave with a whip)")}

        {RANDOM_RECRUIT 4 {ORC_RECRUITMENT_LIST} $x1 $y1}
        {RANDOM_RECRUIT 4 {ORC_RECRUITMENT_LIST} $x1 $y1}
        {RANDOM_RECRUIT 4 {ORC_RECRUITMENT_LIST} $x1 $y1}

        #ifdef NIGHTMARE
        {RANDOM_RECRUIT 4 {ORC_RECRUITMENT_LIST} $x1 $y1}
        {RANDOM_RECRUIT 4 {ORC_RECRUITMENT_LIST} $x1 $y1}
        #endif

        {SIMPLE_MSG Sunllis ( _ "(Covering eyes) On the name of old kings what a hideous beast!")}

        {SIMPLE_MSG Erlornas ( _ "If my words are not known to you, then within my sword I will engrave them as a reminder to the ones like you, but first I will free all those whom you have tortured and give them your body to judge.")}

        {NARRATOR_MSG ( _ "<i>(Erlornas glow of light allows you to free enemy slaves from the shackles of darkness and fear)</i>")}
    [/event]
#enddef